@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: rgb(204, 238, 174);
    background: linear-gradient(90deg, rgba(204, 238, 174, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

main {
    background-color: darkolivegreen;
    padding-left: 2rem;
}

main .main {
    list-style: none;
    font-weight: bold;
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
}

main ul li .active-link {
    text-decoration: none;
    color: white;
    padding: .75rem;
    transition: .2s;
}

main ul li .active-link:hover,
main ul li .link-active {
    background-color: white;
    color: black;
    border-radius: 50px;
    transition: .2s;
}

.start {
    text-align: center;
    padding-top: 3rem;
}

.title {
    padding-top: 2rem;
    font-size: 4rem;
}

.desc {
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.start .icon {
    padding-bottom: 3rem;
}

.games {
    padding-top: 3rem;
}

.start h2 {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

num {
    color: darkolivegreen;
}

.body-pg {
    display: flex;
    padding: 2rem;
}

.body-pg .main-page {
    border-radius: 20px;
    transition: .2s;
}

.body-pg .main-page:hover,
.videos-content img:hover,
.news-img:hover {
    scale: 1.025;
    transition: .2s;
}

.detail {
    padding-left: 2rem;
    line-height: 1.5;
}

.detail h1 {
    color: darkolivegreen;
    font-size: 3rem;
}

.detail h3 {
    padding-bottom: 1rem;
}

.detail ul {
    list-style: none;
}

.visit {
    padding-top: 1rem;
}

.all-subs {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.subs {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 50px;
    font-weight: 500;
    transition: .2s;
}

.subs:hover {
    color: white;
    background-color: black;
    transition: .2s;
}

.all-games {
    padding-bottom: 3rem;
}

.all-videos-content {
    padding-left: 2rem;
    width: fit-content;
    display: flex;
    gap: 2rem;
}

.all-videos-content img {
    border-radius: 20px;
}

.videos-content {
    text-align: center;
}

.videos-content img {
    transition: .2s;
}

.video-title {
    padding-top: .5rem;
    font-weight: 450;
    padding-bottom: 1.5rem;
}

.watch {
    border-radius: 10px;
    padding: .5rem;
    width: fit-content;
}

.news {
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.news-img {
    border-radius: 20px;
    transition: .2s;
}

.news-watch {
    padding-top: 2rem;
}

.news-article {
    padding-top: 2rem;
    padding-left: 2rem;
}

.year {
    font-size: 2.5rem;
}

.date-line {
    width: 200px;
    border: black solid 1px;
}

.news-detail {
    padding-top: 3rem;
}

footer {
    font-weight: 500;
    text-align: center;
    padding: 2rem;
}

.copyright {
    font-size: .75rem;
    padding-top: .5rem;
}

.media-content {
    padding-top: 1rem;
}